# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Logs
*.log

#folder
old/
full-1-file-code/

#files
app-agent.py
generate_ppt.py
subscriber.py
